html{
    font-size: 1.4rem;
 }
.new-plant-container {
    display: none;
    flex-direction:column;
    padding: 5%;
    align-items: center;
}

.new-plant-inner-container {
    display: flex;
    align-items: center;
    -webkit-box-shadow: 0px 0px 17px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 17px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 17px -3px rgba(0,0,0,0.75);
    border-radius: 10px;
    padding: 5%;
    gap: 50px;
}

.new-plant-image {
    max-width:200px;
    aspect-ratio: 1/1;
    margin-bottom: 2%;
}
.details-container {
    font-size: 18px;
    display:flex;
    flex-direction:column;
    gap: 10px;
}

